<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Andmebaas2.Properties.Settings.AndmebassWSConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AndmebassWS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Andmebaas2.Properties.Settings.Andmebaas_Tarpv23ConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Andmebaas_Tarpv23;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Andmebaas2.Properties.Settings.AndmebassSQLConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AndmebassSQL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>